.App {
  text-align: center;
}

nav{
  display: flex;
  justify-content: space-around;
  justify-items: center;
  margin-bottom: 30px;
  background-color: white;
}

.nav-links{
  display: flex;
  width: 30%;
  justify-content: space-around;
  justify-items: center;
  list-style: none;
}

#faceUploadInput{
  display:none;
}

#imageForm{
  display: flex;
  justify-items: center;
  justify-content: space-around;
}

#facePic{
  width: 100%;
}

.emoji{
  width:20px;
  height:20px;
  
}

.emotionDisplay{
  display: flex;
  justify-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px
}

.img-side {
  display: flex;
  flex-direction: row;
  justify-items: center;
  width: 40%;
  height: 50%;
}

.page{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 30px;
}

.song-list{
  display: flex;
  flex-direction: column;
  justify-items: left;
  align-items: flex-start;
}

.faceImage{
  width: 100%;
}

.form-input{
  font-size: 2rem;
  padding: 15px 32px;
}

.user-profile{
  padding-bottom: 10px;
}

.green-btn{
  background-color: rgb(36, 168, 36);
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  margin: 10px;
}

.profile-container{
  display: flex;
  flex-direction: column;
}

#image-submission{
  display: flex;
  margin: auto;
  align-content: center;
  justify-content: center;
}

#webcam-div{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

#screenshots{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}


